$color_category1: #005F73;
$color_category2: #0A9396;
$color_category3: #0CBDC0;
$color_contrast: #EE9B00;
$color_dark-contrast: #BB3E03;
$color_dark: #001219;
$color_light: #FBF8EF;
$color_medium-dark: #022e3f;
$color_medium-light: #E9D8A6;
$color_white: #FFF;

$color_background-contrast: $color-contrast;
$color_background-dark: $color_dark;
$color_background-dark-contrast: $color_dark-contrast;
$color_background-light: $color_light;
$color_background-medium-light: $color_medium-light;
$color_background-white: $color_white;

$color_category-article: $color_category1;
$color_category-blog: $color_category3;
$color_category-report: $color_category2;
$color_section1: $color_category1;
$color_section2: $color_category2;
$color_section3: $color_category3;

$color_shadow: $color_medium-dark;

$color_text-active: $color_medium-light;
$color_text-contrast: $color_contrast;
$color_text-dark: $color_dark;
$color_text-light: $color_light;
$color_text-medium: $color_medium-dark;
