$color_xiketic: #08060F;
$color_dark-blue-gray: #5E6882;
$color_ivory: #FCFCED;
$color_misty-rose: #FBE2DA;

$color_background-dark: $color_xiketic;
$color_background-light-rose: $color_misty-rose;
$color_background-light-ivory: $color_ivory;

$color_shadow: $color_dark-blue-gray;

$color_text-dark: $color_xiketic;
$color_text-light: $color_ivory;
$color_text-contrast: $color_dark-blue-gray;
$color_text-active: $color_misty-rose;
