@import '../../styles/mixins/mixins.scss';
@import '../../styles/variables/variables.scss';

%columnCentered {
    @include setFlexDisplay(column, center, center);
};
%columnLeft {
    @include setFlexDisplay(column, flex-start, flex-start);
};
%columnSpaceBetween {
    @include setFlexDisplay(column, space-between, space-between);
};

%rowCentered {
    @include setFlexDisplay(row, center, center);
};
%rowLeft {
    @include setFlexDisplay(row, flex-start, flex-start);
};
%rowRight {
    @include setFlexDisplay(row, flex-end, flex-end);
};
%rowSpaceBetween {
    @include setFlexDisplay(row, space-between, space-between);
};

%marginZero {
    margin: 0px;
};
%marginSmall {
    margin: 5px;
};
%marginStandard {
    margin: 10px;
};
%marginMedium {
    margin: 20px;
}

%paddingZero {
    padding: 0px;
};
%paddingSmall {
    padding: 5px;
};
%paddingStandard {
    padding: 10px;
};
%paddingMedium {
    padding: 20px;
}

%paletteContrast {
    background-color: $color_background-contrast;
    color: $color_text-dark;
}
%paletteDark {
    background-color: $color_background-dark;
    color: $color_text-light;
}
%paletteDarkContrast {
    background-color: $color_background-dark-contrast;
    color: $color_text-light;
}
%paletteLight {
    background-color: $color_background-light;
    color: $color_text-dark;
}
%paletteMedium {
    background-color: $color_background-medium-light;
    color: $color_text-dark;
}