@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.blog {
  @extend %paddingStandard;
  border-left: 10px solid $color_category-blog;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;

  @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
    margin-top: 0;
  }
}

.blog-label {
  background-color: $color_category-blog;
}

.blogs-component {
  @extend %columnLeft;
  @extend %paletteWhite;
  padding: 75px 10px 10px 10px;

  h2 {
    @extend %paddingMedium;
    border-left: 10px solid $color_category-blog;
  }
}