@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.label-article {
    @include setCategoryLabelOnImg($color_category-article);
}

.label-blog {
    @include setCategoryLabelOnImg($color_category-blog);
}

.label-report {
    @include setCategoryLabelOnImg($color_category-report);
}

.newssite-and-date {
    @extend %fontVerySmall;
    @extend %marginStandard;
}

.summary {
    @extend %fontSmall;

    p {
        @extend %paddingZero;
        margin: 10px 0 0 0;
    }
}

.tile {
    @extend %columnCentered;
    @extend %fontSmall;
    @extend %marginStandard;
    @extend %paddingZero;
    @extend %paletteLight;
    @extend %transitionFast;
    cursor: pointer;
    height: 525px;
    width: 90%;

    &:hover {
        width: 91%;
    }

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        flex-direction: row;
        height: 300px;
        justify-content: space-around;
    }

    @include forLargeScreens($breakpoint-medium) {
        height: 400px;
    }
}

.tile-img {
    @include setImageDisplay(220px, 220px);

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        height: 100%;
        max-height: 100%;
        width: 100%;
    }
}

.tile-img-container {
    @extend %imageBorder;
    @include setImageContainerDisplay(150px, 90%);
    position: relative;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        height: 94%;
        width: 47.5%;
    }
}

.tile-text-container {
    @extend %columnSpaceAround;
    @extend %marginZero;
    @extend %paddingZero;
    height: 100%;
    width: 90%;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        height: 94%;
        width: 47.5%;
    }

    h3 {
        cursor: pointer;
    }

    p {
        cursor: pointer;
        padding: 30px 10px 0 5px;
        text-align: justify;
    }
}

.tile-title-article {
    @extend %headerTile;
    @include setCategoryHeader($color_category-article);
}

.tile-title-blog {
    @extend %headerTile;
    @include setCategoryHeader($color_category-blog);
}

.tile-title-report {
    @extend %headerTile;
    @include setCategoryHeader($color_category-report);
}
