@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.footer-container {
    @extend %columnCentered;
    @extend %marginZero;
    @extend %paddingZero;
    @extend %paletteDark;
    align-items: center;
    border-top: 3px solid $color-contrast;
    height: 75px;

    a {
        @extend %paddingSmall;
        @include setLinkDark;
    }

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row;
        justify-content: space-around;
    }
}

.info-container {
    @extend %fontSmall;
    @extend %paddingZero;
    @extend %rowLeft;

    a {
        @include setLinkContrast;
    }
}

.used-api-container {
    @extend %fontVerySmall;
    @extend %paddingZero;
    @extend %rowRight;
}

a {
    @extend %paddingSmall;
}
