@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.report {
  @extend %paddingStandard;
  border-left: 10px solid $color_category-report;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;

  @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
    margin-top: 0;
  }
}

.report-label {
  background-color: $color_category-report;
}

.reports-component {
  @extend %columnLeft;
  @extend %paletteWhite;
  padding: 75px 10px 10px 10px;

  @include forLargeScreens($breakpoint-medium) {
    margin: auto 10vw;
  }

  h2 {
    @extend %paddingMedium;
    border-left: 10px solid $color_category-report;
  }
}
