@import "../../styles/variables/variables.scss";
@import "../../styles/mixins/mixins.scss";

.header-container {
    @include flexRowSpaceBetween;
    background-color: $color_background-dark;
    color: $color_text-light;

    .product-name-container {
        @include flexRowStart;
    }

    .navbar-container {
        @include flexRowEnd;
    }

    .navigation-container {
        ul {
            list-style-type: none;
        }

        .navigation-list {
            display: flex;

            a {
                text-decoration: none;
                color: $color_text-light;
                transition: color 0.5s;
                padding: 10px;
                &:hover {
                    color: $color_text-contrast;
                }

                &:active {
                    color: $color_text-active;
                }
            }
        }
    }
}
