@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.article {
  border-left: 10px solid $color_category-article;
  height: 100%;
  margin-bottom: 0;
  padding: 10px 10px 0 10px;

  @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
    margin-top: 0;
  }
}

.article-label {
  background-color: $color_category-article;
}

.articles-component {
  @extend %columnLeft;
  @extend %paletteWhite;
  padding: 75px 10px 10px 10px;

  h2 {
    @extend %paddingMedium;
    border-left: 10px solid $color_category-article;
  }
}

.articles-content-container {
  @extend %columnSpaceBetween;
  @extend %paletteWhite;

  @include forLargeScreens($breakpoint-medium) {
    margin: auto 10vw auto 10vw;
  }
}
