@import "../../styles/variables/variables.scss";
@import "../../styles/mixins/mixins.scss";

.main-content-container {
    @include flexColumnSpaceBetween;
    background-color: $color_background-light-rose;

    .articles-and-blogs-container {
        @include flexRowSpaceBetween;
        @include medium-screen {
            @include flexColumnCentered;
    }
        @include small-screen {
            @include flexColumnCentered;
        }

        .articles-container {
            width: 50%;

            .article-item {
                background-color: $color_background-light-ivory;
                @include shadowEffect;
                .article-item-img-and-title {
                    @include flexRowCentered;
                }

                img {
                    height: auto;
                    max-width: 200px;
                    padding: 5px;
                }
            }
        }

        .blogs-container {
            @include flexColumnSpaceBetween;
            width: 50%;

            .blog-item {
                background-color: $color_background-light-ivory;
                @include shadowEffect;

                .blog-item-img-and-title {
                    @include flexRowCentered;
                }

                img {
                    max-width: 200px;
                    height: auto;
                }
            }
        }
    }

    .reports-container {
        .report-item {
            background-color: $color_background-light-ivory;
            @include shadowEffect;
        }
    }
}
