@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.main-content-container {
    @extend %columnSpaceBetween;
    @extend %paletteMedium;
}

.articles-and-blogs-container {
    @extend %columnCentered;

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.article-item,
.blog-item,
.report-item {
    @extend %marginStandard;
    @extend %paddingStandard;
    @extend %paletteLight;
}

.article-item-img-and-title,
.blog-item-img-and-title {
    @extend %rowCentered;
}

.articles-container,
.blogs-container {
    @extend %columnSpaceBetween;
    width: 100%;

    @include forLargeScreens($breakpoint-medium) {
        width: 50%;
    }
}

img {
    @extend %paddingStandard;
    @include setImageDisplay(auto, 150px);
}