@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.content-tile {
    @extend %marginStandard;
    @extend %paddingZero;
    @extend %paletteLight;
    @extend %columnSpaceBetween;
    font-size: 0.9rem;
    height: 350px;
    width: 90%;
    cursor: pointer;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        flex-direction: row;
        height: 300px;
    }

    @include forLargeScreens($breakpoint-medium) {
        height: 300px;
    }
}

.content-tile-container {
    @extend %columnSpaceBetween;
    @extend %marginStandard;
    @extend %paddingZero;
    @extend %paletteLight;
    cursor: pointer;
    height: 150px;
    width: 60%;

    p {
        cursor: pointer;
    }

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        height: 280px;
        width: 50%;
    }
}

.content-tile-img {
    height: 220px;
    margin: 10px 0 10px 10px;
    position: relative;
    width: 40%;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        height: 280px;
        width: 50%;
    }
    @include forLargeScreens($breakpoint-medium) {
        height: 170px;
    }
}

.content-tile-img-and-container {
    @extend %rowCentered;
    width: 100%;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        flex-direction: column;
    }
}

.content-tile-label {
    @extend %columnCentered;
    @extend %paddingSmall;
    @extend %paletteContrast;
    bottom: 8px;
    font-size: 0.7rem;
    font-weight: bold;
    left: 10px;
    position: absolute;
    width: 25%;
}

.content-tile-newssite-and-date {
    @extend %paddingStandard;
    font-size: 0.7rem;
}

.content-tile-summary {
    font-size: 0.8rem;
}

.content-tile-title {
    @extend %rowCentered;
    @extend %marginZero;
    @extend %paletteDarkContrast;
    font-size: 0.9rem;
    height: 90px;
    padding: 15px;
    width: 95%;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        height: 90px;
        width: 100%;
    }
    @include forLargeScreens($breakpoint-medium) {
        height: 50px;
    }
}

.for-large-and-small-screens {
    @extend %columnCentered;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        display: none;
    }
}

.for-medium-screens {
    display: none;

    @include forMediumScreens($breakpoint-small, $breakpoint-medium) {
        display: flex;
    }
}

img {
    height: 280px;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}
