@import "./styles/variables/variables.scss";
@import "./styles/mixins/mixins.scss";

.App {
    @include flexColumnCentered;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.active {
    background-color: greenyellow;
}

