// Variables
@import './styles/variables/variables.css';

// Mixins
@import './styles/mixins/mixins.css';


.App {
    text-align: center;
}

.navigation-container {

    ul {
        list-style-type: none;
    }

    .navigation-list {
        display: flex;

        .navigation-list-item {
            padding: 5px;
        }
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.active {
    background-color: greenyellow;
}
