@import "../../styles/mixins/mixins.scss";
@import "../../styles/placeholders/placeholders.scss";
@import "../../styles/variables/variables.scss";

.about-page-item-title {
  @extend %rowLeft;
  @include setCategoryHeader($color_about-page);
  align-items: center;
  padding: 0 10px 0 20px;

  h3 {
    cursor: default;
    padding-left: 20px;
  }

  img {
    @include setLogoDisplay(30px, 30px, -90deg, 1s);
  }
}

.about-page-items {
  @extend %columnSpaceBetween;
  @extend %paletteWhite;
  height: 100%;
  padding: 75px 10px 10px 10px;
  width: 90%;
  margin: 0 20px;
  justify-content: center;

  @include forLargeScreens($breakpoint-medium) {
    margin: 0 10vw;
  }

  a {
    @include setLinkLight;
    @extend %fontSmall;
    font-weight: 400;
  }

  h2 {
    @extend %paddingMedium;
    @include setCategoryHeader($color_about-page);
    cursor: default;
  }
}

.about-page-list {
  @extend %rowCentered;
  flex-wrap: wrap;
  margin: 0 40px;
  padding: 10px 0;

  li {
    @extend %fontSmall;
    @extend %marginStandard;
    @extend %paddingStandard;
    @extend %paletteMediumLight;
    @extend %transitionFast;
    @extend %columnCentered;
    cursor: default;
    height: 150px;
    list-style: none;
    text-align: center;
    width: 150px;

    a {
      @extend %columnTopCentered;
      @extend %fontSmall;
      @extend %marginZero;
      // @extend %paddingMedium;
      cursor: pointer;
      height: 100%;
      width: 100%;
      border: 1px solid red;
      padding: 0;
    }
  }
}

.icon-large {
  height: 80px;
  width: 80px;
}

.icon-medium-large {
  height: 50px;
  width: 50px;
}

.icon-medium {
  height: 45px;
  width: 45px;
}

.icon-small {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}