@mixin setCategoryHeader($categoryColor) {
  border-left: 10px solid $categoryColor;
  cursor: default;
  padding: 10px 0 10px 20px;
}

@mixin setCategoryLabelOnImg($colorCategory) {
  @extend %columnCentered;
  @extend %fontVerySmall;
  background-color: $colorCategory;
  border-radius: 5px;
  bottom: 8px;
  color: $color_text-light;
  font-weight: bold;
  left: 10px;
  padding: 5px 10px;
  position: absolute;
  width: 100px;
}

@mixin forLargeScreens($breakpointMedium) {
  @media only screen and (min-width: $breakpointMedium) {
    @content;
  }
}
@mixin forMediumScreens($breakpointSmall, $breakpointMedium) {
  @media only screen and (min-width: $breakpointSmall) and (max-width: $breakpointMedium) {
    @content;
  }
}
@mixin forSmallScreens($breakpointSmall) {
  @media only screen and (max-width: $breakpointSmall) {
    @content;
  }
}

@mixin setFlexDisplay($direction, $align, $justify) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin setHamburgerContainerDisplay($barWidth, $barHeight, $barSpacing) {
  cursor: pointer;
  height: $barHeight + $barSpacing * 2;
  width: $barWidth;
}

@mixin setHamburgerIconAnimate($barSpacing) {
  background: $color_background-contrast;
  transform: translateY($barSpacing);
  transition: all 0ms 300ms;
  &:after {
    background: $color_background-contrast;
    content: "";
    left: 0;
    position: absolute;
    top: $barSpacing;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &.animate {
    background: $color_background-dark;
    &:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
  &:before {
    background: $color_background-contrast;
    bottom: $barSpacing;
    content: "";
    left: 0;
    position: absolute;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

@mixin setHamburgerIconSize($barWidth, $barHeight, $borderRadius) {
  border-radius: $borderRadius;
  height: $barHeight;
  width: $barWidth;
}

@mixin setImageContainerDisplay($height, $width) {
  @extend %marginStandard;
  height: $height;
  width: $width;
}

@mixin setImageDisplay($maxHeight, $maxWidth) {
  height: 100%;
  max-height: $maxHeight;
  object-fit: cover;
  width: $maxWidth;
  width: 100%;
}

@mixin setLogoDisplay($height, $width, $degree, $time) {
  height: $height;
  transition: transform $time;
  width: $width;

    &:hover {
        transform: rotate($degree);
    }
  }
@mixin setLinkDark() {
  @extend %paletteDark;
  text-decoration: none;
  transition: color 0.5s;

  &:active {
    color: $color_text-active;
  }

  &:hover,
  &:focus {
    color: $color_text-contrast;
  }
}

@mixin setLinkLight() {
  color: $color_text-dark;
  text-decoration: none;
  transition: color 0.5s;

  &:active {
    color: $color_text-contrast;
    background-color: none;
  }

  &:hover,
  &:focus {
    color: $color_text-contrast;
    background-color: none;
  }
}

@mixin setMenuLink() {
  text-decoration: none;
  color: $color_text-contrast;
  width: 100%;

  @include forLargeScreens($breakpoint-medium) {
    color: $color_text-light;
    font-weight: bold;
    transition: color 0.5s;
  }

  &:active {
    color: $color_text-active;
  }

  &:focus,
  &:hover {
    background-color: $color_background-contrast;
    color: $color_text-dark;
    font-weight: bold;

    @include forLargeScreens($breakpoint-medium) {
      background-color: $color_background-dark;
      color: $color_text-contrast;
    }
  }
}
